myenv
.vscode/**
django_workspace.code-workspace

**/__pycache__
.pytest_cache

db.sqlite3


baseModule/static/
mainApp/migrations/**
!mainApp/migrations/__init__.py
!mainApp/migrations/0001_initial.py

fixtures/
etc/
media/