{% load staticfiles %}
<html lang="en">
{% include "header.html" %}
<body>
<div class="bgimg-1" style="background-image: url({{mainBg}})">
    <div class="main-page-text">
        <h2>{{indexText1}}</h2>
        <h2>{{indexText2}}</h2>
        <h2>{{indexText3}}</h2>
        <br>
       <h3>{{indexText4}}</h3>
    </div>
    <div class="main-page-scroll-down-sign" title="Go to content"></div>
</div>

<div style="position:relative;">
    <div class="row text-block" >
      <div class="col col-md-8 offset-md-2">
          <p>
              <h3>{{about.title}}</h3>
                {{about.body | safe}}
          </p>
      </div>
    </div>
</div>
    
<div class="bgimg-2"  style="background-image: url({{middleBg}})">
    <div class="main-page-scroll-down-sign" title="Go to content"></div>
</div>

<div class="bgimg-1" style="background-image: url({{closureBg}})">
    <div class="contact-box">     
        <div class="row content-row">
            <a class="contact
                      col-md-2
                      col-sm-4 
                      col-6" href="{{linkedin}}" target="_blank">
                <span class="fab fa-linkedin fa-5x"></span>  
            </a>
            <a class="contact
                      col-md-2 
                      col-sm-4 
                      col-6" href="{{github}}" target="_blank">
                <span class="fab fa-github fa-5x"></span>
            </a>
            <a class="contact
                      col-md-2 
                      col-sm-4 
                      col-6" href="mailto:{{email}}" target="_blank">
                <span class="fas fa-at fa-5x"></span>  
            </a>
            <a class="contact
                      col-md-2
                      col-sm-4
                      col-6" href="{{facebook}}" target="_blank">
                <span class="fab fa-facebook fa-5x"></span>    
            </a>
            <a class="contact
                      col-md-2 
                      col-sm-4 
                      col-6" href="{{flickr}}" target="_blank">
                <span class="fab fa-flickr fa-5x"></span>  
            </a>
            <a class="contact
                      col-md-2
                      col-sm-4 
                      col-6" href="{{instagram}}" target="_blank">
                <span class="fab fa-instagram fa-5x"></span>  
            </a>
        </div>
    </div>
    <div class="caption-box">
        <div class="row content-row">
            <div class="caption
                        col-md-5
                        col-sm-12">
                <span>{{indexTextWork}}</span>
            </div>
            <div class="caption
                        col-md-5 offset-md-2
                        col-sm-12">
                <span>{{indexTextWork}}</span>
            </div>  
        </div>
        <div class="row content-row">
            <div class="caption
                        offset-md-2
                        col-md-8
                        col-sm-12
                        col-4">
                <span>{{indexTextWork}}</span>
            </div>  
        </div>
    </div>
</div>
<!--    {% include "footer.html" %}-->
  </body>
</html>