<div class="bgimg-1" style="background-image: url({% static bottom_section.background.url %})">
    {% if bottom_section.social_networks is not None %}
        <div class="contact-box">     
            <div class="row content-row justify-content-around">
                {% for sn in bottom_section.social_networks %}
                    <a class="contact
                        col-md-2
                        col-sm-4 
                        col-6" href="{{sn.value}}" target="_blank">
                        <span class="{{sn.faIconType}} fa-{{sn.faIcon}} fa-5x"></span>  
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="caption-section">
        {% if bottom_section.linked_pages is not None %}
            <div class="row content-row justify-content-around">
            {% for lp in bottom_section.linked_pages %}
                <div class="caption-wrapper
                            col-lg-4
                            col-md-6
                            col-sm-12
                            border border-dark
                            rounded">
                    <a class="contact" href="{{lp.basePage.full_url}}">
                    <div class="row">
                        <span class="col-12
                                    {{lp.iconField.faIconType}} fa-{{lp.iconField.faIcon}} fa-3x"></span>
                        <span class="col-12">
                            {{lp.basePage.title}}
                        </span>  
                    </div>
                    </a>  
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>