{% load staticfiles %}
<html lang="en">
{% include "header.html" %}
<body>
<div class="bgimg-1" style="background-image: url({% static mainBg %})">    
    <div class="main-page-text">
        {{ static}}
    {% if landingMainFields is not None %}
        {% for mainField in landingMainFields %}
            <h2>{{mainField}}</h2>
        {% endfor %}
    {% endif %}
    {% if landingSubFields is not None %}
        <br>
        {% for subField in landingSubFields %}
            <h3>{{subField}}</h3>
        {% endfor %}
    {% endif %}
    </div>
    <div class="main-page-scroll-down-sign" title="Go to content"></div>
</div>
{% if contentPages is not None %}
    {% for contentPage in contentPages %}
        <div style="position:relative;">
            <div class="row text-block" >
              <div class="col col-md-8 offset-md-2">
                  <p>
                      <h3>{{contentPage.title}}</h3>
                        {{contentPage.body | safe}}
                  </p>
              </div>
            </div>
        </div>

        <div class="bgimg-2"  style="background-image: url({% static contentPage.background.url %})">
            <div class="main-page-scroll-down-sign" title="Go to content"></div>
        </div>
    {% endfor %}
{% endif %}

<div class="bgimg-1" style="background-image: url({% static closureBg %})">
    {% if socialNetworks is not None %}
        <div class="contact-box">     
            <div class="row content-row justify-content-around">
                {% for sn in socialNetworks %}
                    <a class="contact
                          col-md-2
                          col-sm-4 
                          col-6" href="{{sn.value}}" target="_blank">
                        <span class="{{sn.faIconType}} fa-{{sn.faIcon}} fa-5x"></span>  
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="caption-section">
        {% if linkedPages is not None %}
            <div class="row content-row justify-content-around">
            {% for lp in linkedPages %}
                <div class="caption-wrapper
                            col-lg-4
                            col-md-6
                            col-sm-12
                            border border-dark
                            rounded">
                    <a class="contact" href="{{lp.basePage.full_url}}">
                    <div class="row">
                        <span class="col-12
                                     {{lp.iconField.faIconType}} fa-{{lp.iconField.faIcon}} fa-3x"></span>
                        <span class="col-12">
                            {{lp.basePage.title}}
                        </span>  
                    </div>
                    </a>  
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<!--    {% include "footer.html" %}-->
  </body>
</html>