<div class="bgimg-1" style="background-image: url({% static top_section.background.url %})">    
    <div class="main-page-text">
    {% if top_section.main_fields is not None %}
        {% for main_field in top_section.main_fields %}
            <h2>{{main_field}}</h2>
        {% endfor %}
    {% endif %}
    {% if top_section.sub_fields is not None %}
        <br>
        {% for sub_field in top_section.sub_fields %}
            <h3>{{sub_field}}</h3>
        {% endfor %}
    {% endif %}
    </div>
    <div class="main-page-scroll-down-sign" title="Go to content"></div>
</div>